<div class="super-main">
    <div class="home-main">
        <div class="image-container3">
          <img [src]="images[3].src" [alt]="images[3].name">
        </div>
        <div class="image-container1">
          <img [src]="images[1].src" [alt]="images[1].name">
        </div>
        <div class="image-container0">
          <img [src]="images[0].src" [alt]="images[0].name">
        </div>
        <div class="image-container2">
          <img [src]="images[2].src" [alt]="images[2].name">
        </div>
        <div class="image-container4">
          <img [src]="images[4].src" [alt]="images[4].name">
        </div>
    </div>
    <div class="subscribe-block">
        <div class="details">
            <h2>Subscribe now to our plans at an exclusive introductory price. Learn more about our affordable options and pricing below!</h2>
            <div>
                <button class="buttonMS" mat-stroked-button>Subscribe Now!</button>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="block">
            <i class="fa-solid fa-globe"></i>
            <h2>Exclusive Access to Philippine Arts and Culture</h2>
            <p>Gain exclusive access to high-quality performances, documentaries, and cultural content showcasing the richness of Filipino arts, from traditional to contemporary forms. Experience concerts, plays, and dance productions right from your screen.</p>
        </div>
        <div class="block">
            <i class="fa-solid fa-hand-holding-heart"></i>
            <h2>Support for Local Artists and Heritage</h2>
            <p>By subscribing, you directly contribute to preserving and promoting Filipino culture and heritage while supporting the thriving community of local artists and cultural practitioners.</p>
        </div>
        <div class="block">
            <i class="fa-solid fa-hourglass"></i>
            <h2>Convenience and Affordability</h2>
            <p>Enjoy world-class productions anytime, anywhere at an affordable price. Perfect for those who value culture but may not have the time or opportunity to attend events in person.</p>
        </div>
    </div>
    <div class="select-plan">
        <div class="card">
            <p class="title">Monthly</p>
            <p class="price">₱99</p>
            <p class="for">for 1 month</p>
            <button class="buttonMS" mat-stroked-button>Subscribe</button>
        </div>
        <div class="card">
            <p class="title">Annual</p>
            <p class="old-price">₱1,188</p>
            <p class="price">₱599</p>
            <p class="for">for 1 year</p>
            <button class="buttonMS" mat-stroked-button>Subscribe</button>
        </div>
    </div>
</div>