<div class="supermain-div">
  <div class="main-div" #scrollContainer>
    @for (item of visibleItems; track item) {
    <mat-card class="card">
      <img
        class="image"
        mat-card-image
        [src]="item.banner"
        [alt]="item.title"
      />
      <video
        class="video"
        #video
        [src]="item.teaser"
        autoplay
        loop
        [muted]="true"
      ></video>
      <div class="actions">
        <label>{{ item.title }}</label>
      </div>
      <div class="actions-hovered">
        <label>{{ item.title }}</label>
        <div class="action-buttons">
          <div>
            <mat-icon>play_circle_filled</mat-icon>
            <mat-icon>info</mat-icon>
            <mat-icon>favorite</mat-icon>
          </div>
          <p>•</p>
          <p>{{ item.resolution }}</p>
          <p>•</p>
          <p>{{ item.runtime }}</p>
        </div>
      </div>
    </mat-card>
    }
  </div>
  <button class="scroll-btn left" (click)="prevPage()">&#8249;</button>
  <button class="scroll-btn right" (click)="nextPage()">&#8250;</button>
</div>
<!-- <div class="supermain-div">
    <div class="main-div">
        @for (item of items; track item) {
            <mat-card class="card">
              <img mat-card-image [src]="item.banner" [alt]="item.title" />
            </mat-card>
        }
    </div>
</div> -->
