.mainLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "body"
    "footer";
  height: 100%;
  width: 100%;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}
