<div class="signin-main">
  <div class="header-logo">
    <img src="ccp-logo-rmvbg.PNG" alt="header-logo" />
  </div>
  <form>
    <div class="form-field-container">
        <h2>Sign In</h2>
    </div>
    <div class="form-field-container">
      <!-- Email Field -->
      <label>Email</label>
      <input
        matInput
        placeholder="Enter your email"
        [formControl]="email"
        (blur)="updateEmailErrorMessage()"
        required
      />
      @if (email.invalid) {
      <mat-error>{{ emailErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <!-- Password Field -->
      <label>Password</label>
      <input
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        placeholder="Enter your password"
        [formControl]="password"
        (blur)="updatePasswordErrorMessage()"
        required
      />
      @if (password.invalid) {
      <mat-error>{{ passwordErrorMessage() }}</mat-error>
      }
    </div>

    <div class="form-field-container">
      <button
        class="buttonSignIn"
        mat-raised-button
        type="submit"
        [disabled]="email.invalid || password.invalid"
        (click)="signInOnClick()"
      >
        Sign In
      </button>
    </div>

    <div class="form-field-container">
      <br />
      <p>Forgot Password?</p>
      <mat-divider></mat-divider>
    </div>

    <div class="form-field-container">
      <button class="buttonSignUp" mat-raised-button type="button" (click)="signUpOnClick()">
        Sign Up
      </button>
    </div>
  </form>
</div>
