:root {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
  display: inline-table;

  /* color palettes */
  --primary: #962e45;
  --secondary: #000000;
  --tertiary: #ffffff;
  --accent: #977A00;
  --gray: #d5d5d5;

  /* body */
  --body-linear-gradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0) 300%
  );

  .buttonMS {
    background-color: var(--primary);
    border-radius: 1.875em;
    border: 1px solid var(--tertiary) !important;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 8.688em;
    font-size: 0.9vw;
  };

  .buttonSignIn {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 19.2em;
    font-size: 0.875em;
    font-weight: 600;
    margin-top: 1em;
  }

  .buttonSignUp {
    background-color: var(--primary) !important;
    border-radius: 0.5em;
    color: var(--tertiary) !important;
    min-height: 2.5em;
    min-width: 10.688em;
    font-size: 0.875em;
    font-weight: 600;
    margin: 1em 0;
  }

  .cdk-overlay-pane {
    border-radius: 0.625em;
    background-color: var(--tertiary);
  }

  @media (max-width: 767px) {
    .buttonMS {
      background-color: var(--primary);
      border-radius: 1.875em;
      border: 1px solid var(--tertiary) !important;
      color: var(--tertiary) !important;
      min-height: 1.5em;
      min-width: 1.688em;
      font-size: 0.6em;
    }
  }
}

body {
  margin: 0;
  background: var(--body-linear-gradient);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
